name: # project name
services:
  dev-container:
    container_name: dev-container
    image: # dev container image
    ports:    
      - "9000:22"
    extra_hosts:
      - "host.docker.internal:host.gateway"
    volumes:
      - ./.home:/home
      - # local public ssh key:/home/.host/${USERNAME}/ssh/local.pub
      - # nvim config:/home/.host/nvim/.config/
      - # zshrc_shared:/home/.host/zshrc/.zshrc_shared
      - # mount source

